@use "../../utils/constants/constants.scss" as *;

.TextField {

    &_input {
        width: 200px;
        height: 30px;
        margin : 10px;
        border: 1px solid $primaryColor;
        border-radius: 5px;
        padding: 0 10px;
    
        &:focus {
            outline:2px solid $primaryColor;
        }
    }
   
}