@use "../../utils/constants/constants.scss" as *;

.Button {

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 200px;
    height: 30px;
    border : 1px solid $primaryColor;
    background-color: $primaryColor;
    border-radius: 0.2em;
    opacity: 0.9;
    transition: 0.3s;
    margin: 10px;

    &_text {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }


    &:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: 0px 1px 2px;
    }
}

.text {
    background-color: rgba(25, 118, 210,0);
    border : none;
    color: $primaryColor;
   
}

.contained {
    background-color: $primaryColor;
}

.outlined {
    background-color: rgba(25, 118, 210,0);
    color: $primaryColor;
}